@import "vars";
@import "libs";
@import "fonts";

body {
    background-color: #fafafa;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #999999;
    min-width: 390px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.modal {

    &-header,
    &-body,
    &-footer {
        border: none;
        padding: 1rem 2rem;
    }

    &-header {
        .close {
            padding: 0.5rem 0 1rem 1rem;

            span {
                font-size: 28px;
                font-weight: 100;
                color: #999999;
            }

            &:hover {
                span {
                    color: #333333;
                }
            }
        }
    }

    &-title {
        color: #666666;
        font-size: 18px;
    }

    &-body {
        color: #808080;
        font-size: 14px;
    }

    &-footer {
        justify-content: flex-start;

        .btn-default {
            color: #b2b2b2;
            border: 1px solid #f5f5f5;
        }
    }

    button {
        font-size: 12px;
        font-weight: 900;
        text-transform: uppercase;
        padding: 15px 30px;
    }
}

header {
    background: #fff;
    display: flex;
    align-items: center;

    .user-info {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 30px;

        &__profile {
            text-decoration: none;
            color: #999999;

            &:hover {
                color: #333333;
            }
        }

        &__name {
            font-size: 14px;
            margin-right: 20px;
        }

        &__img {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            object-fit: cover;
        }

        &__dropdown {
            span {
                width: 30px;
                height: 30px;
                display: block;
                cursor: pointer;
                margin-left: 5px;

                &:hover {
                    svg rect {
                        fill: #999999;
                        stroke: #999999;
                    }
                }
            }

            a {
                color: #666666;
            }
        }
    }

    .nav-brand {
        display: flex;
        align-items: center;
        height: 88px;
        width: 185px;

        img {
            margin: 20px 0 15px 0;
            object-fit: cover;
        }
    }

    .header-nav-arrow {
        position: relative;
        height: 88px;
        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid #fafafa;
        cursor: pointer;

        i {
            transition: all .2s ease-in;
            transform: rotateY(0deg);
            display: inline-block;
            height: 30px;
            width: 30px;
        }

        &:hover {
            svg rect {
                fill: #999999;
                stroke: #999999;
            }
        }
    }

    .arrow-active {
        i {
            transform: rotateY(180deg);
        }
    }
}

.main-content {
    display: flex;
    overflow: hidden;
    position: relative;

    &-collapsed {
        aside {
            left: -255px;
        }

        main {
            left: 0;
            width: calc(100% - 60px);
            max-width: none;
            min-height: auto;
        }
    }
}

aside {
    width: 254px;
    position: absolute;
    left: 0;
    top: 0;
    transition: all .3s ease-in;

    .nav {
        background: #fff;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
        flex-direction: column;

        &__item {
            border-top: 1px solid #f5f5f5;
            border-bottom: 1px solid #f5f5f5;
            background: #fff;
            min-height: 60px;
            cursor: pointer;

            &-active {
                .nav__item-heading {
                    border-left: 3px solid #1875f0;

                    a {
                        span {
                            color: #1875f0;
                        }

                        svg rect {
                            fill: #1875f0;
                            stroke: #1875f0;
                        }
                    }
                }
            }

            a {
                text-decoration: none;
            }

            svg {
                margin-right: 20px;
                width: 30px;
                height: 30px;
            }

            svg rect {
                fill: #d8d8d8;
                stroke: #d8d8d8;
            }

            span {
                color: #d8d8d8;
            }

            &:hover svg rect {
                fill: #999999;
                stroke: #999999;
            }

            &:hover span {
                color: #999999;
            }

            &-heading {
                display: flex;
                align-items: center;
                height: 60px;
                padding: 0 15px;

                a {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                }

                &[aria-expanded="true"] {
                    span {
                        color: #999999;
                    }

                    svg rect {
                        fill: #999999;
                        stroke: #999999;
                    }
                }
            }

            &-container {
                li {
                    a {
                        display: flex;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        padding: 15px 0;

                        text-decoration: none;

                        span {
                            color: #999999;
                        }

                        svg rect {
                            fill: #999999;
                            stroke: #999999;
                        }

                    }

                    padding: 0 15px;

                    svg {
                        margin-right: 15px;
                    }
                }

                .active {
                    border-left: 3px solid #1875f0;

                    span {
                        color: #1875f0 !important;
                    }

                    svg rect {
                        fill: #1875f0 !important;
                        stroke: #1875f0 !important;
                    }
                }

                li:hover {
                    span {
                        color: #1875f0 !important;
                    }

                    svg rect {
                        fill: #1875f0 !important;
                        stroke: #1875f0 !important;
                    }
                }
            }

            .show {
                li {
                    span {
                        color: #999999;
                    }

                    svg rect {
                        fill: #999999;
                        stroke: #999999;
                    }
                }
            }
        }

    }

    .disk {
        padding: 50px 20px;
        background: #fff;
        margin-top: 10px;
        margin-bottom: 10px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 254px;

        img {
            margin-bottom: 70px;
        }

        &-usage {
            color: #b2b2b2;
            font-size: 14px;

            p {
                margin-bottom: 40px;
                text-align: center;
            }

            .progress {
                height: 5px;
                margin-bottom: 30px;
            }
        }
    }
}

main {
    margin: 10px 35px 25px 35px;
    width: calc(100% - 330px);
    position: relative;
    left: 255px;
    transition: all .3s ease-in;

    .main-heading {
        font-weight: 300;
        font-size: 36px;
        color: #808080;
        margin: 0 0 5px 15px;
    }

    .main-table {
        background: #fff;

        &__options {
            display: flex;
            padding-bottom: 3px;

            .option-create {
                border-right: 2px solid #f5f5f5;
                padding: 25px 20px 20px 15px;

                &__btn {
                    background: #1875f0;
                    display: inline-block;
                    position: relative;
                    color: #fff;
                    font-weight: 900;
                    font-size: 16px;
                    padding: 14px 60px 14px 60px;
                    border-radius: 5px;
                    cursor: pointer;
                    text-decoration: none;

                    &:hover {
                        opacity: 0.9;
                    }

                    &::before {
                        display: block;
                        content: "";
                        position: absolute;
                        width: 26px;
                        height: 26px;
                        background: #000;
                        top: 25%;
                        left: 18%;
                        background: url("../img/ic_add.svg") no-repeat center;
                    }
                }

                .dropdown-menu {
                    width: 255px;
                    border-radius: 6px;
                    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
                }

                .dropdown-item {
                    color: #808080;
                    font-weight: 500;
                    font-size: 13px;
                    padding: 12px 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;

                    &::before {
                        display: block;
                        content: "";
                        position: absolute;
                        top: 7px;
                        left: 20px;
                        width: 30px;
                        height: 30px;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }

                .add-folder {
                    &::before {
                        background: url("../img/ic_add.png");
                    }
                }

                .upload-file {
                    &::before {
                        background: url("../img/ic_insert_drive_file.svg");
                    }
                }

                .upload-folder {
                    &::before {
                        background: url("../img/ic_folder.svg");
                    }
                }
            }

            .option-search {
                border-right: 2px solid #f5f5f5;
                padding: 25px 20px 20px 15px;
                width: 60%;
                display: flex;
                align-items: center;

                &__field-container {
                    width: 100%;
                    position: relative;
                    overflow: hidden;

                    span {
                        width: 100%;
                        position: absolute;
                        height: 0;
                        left: 0;
                        background: #000;
                        bottom: 0;

                        &::before,
                        &::after {
                            content: '';
                            display: block;
                            position: absolute;
                            bottom: 0;
                            width: 0px;
                            height: 2px;
                            background: #D8D8D8;
                            transition: all .3s ease-in-out;
                        }

                        &::before {
                            left: 50%;
                        }

                        &::after {
                            right: 50%;
                        }
                    }

                }

                &__field {
                    border: none;
                    padding: 14px 10px 14px 15px;
                    color: #999999;
                    font-size: 14px;
                    width: 100%;

                    &::placeholder {
                        color: #cccccc;
                        transition: all .3s ease;
                    }

                    &:focus~span::before,
                    &:focus~span::after {
                        width: 50%;
                    }

                    &:focus {
                        outline: none;
                    }
                }

                &__field:focus {
                    &::placeholder {
                        opacity: 0;
                    }
                }

                &__btn {
                    border: none;
                    background: #fff;
                    position: absolute;
                    right: 0;
                    top: 10px;

                    &:hover {
                        svg rect {
                            fill: #999999;
                            stroke: #999999;
                        }
                    }
                }
            }

            .option-delete {
                width: 14%;
                border-right: 2px solid #f5f5f5;
                padding: 25px 20px 20px 15px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                min-width: 180px;

                div {
                    cursor: pointer;
                }

                button {
                    border: none;
                    background: transparent;

                    &:hover {
                        svg rect {
                            stroke: #999999;
                            fill: #999999;
                        }
                    }
                }

                div+div {
                    margin-left: 20px;
                }

                svg rect {
                    stroke: #d8d8d8;
                    fill: #d8d8d8;
                }

                .dropdown-menu {
                    width: 255px;

                    .dropdown-item {
                        color: #808080;
                        font-weight: 500;
                        font-size: 13px;
                        padding: 12px 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;

                        &::before {
                            display: block;
                            content: "";
                            position: absolute;
                            top: 7px;
                            left: 20px;
                            width: 30px;
                            height: 30px;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                    }

                    .delete-return {
                        &::before {
                            background: url("../img/ic_replay.svg");
                        }
                    }

                    .delete-delete {
                        &::before {
                            background: url("../img/ic_delete.png");
                        }
                    }
                }
            }

            .option-view {
                width: 14%;
                padding: 25px 20px 20px 15px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                min-width: 180px;

                div {
                    cursor: pointer;

                    &:hover {
                        svg rect {
                            stroke: #999999;
                            fill: #999999;
                        }
                    }
                }

                div+div {
                    margin-left: 20px;
                }

                svg rect {
                    stroke: #d8d8d8;
                    fill: #d8d8d8;
                }

                &__bulleted {
                    svg rect {
                        stroke: #444;
                        fill: #444;
                    }

                    &:hover {
                        svg rect {
                            stroke: #000;
                            fill: #000;
                        }
                    }
                }
            }
        }

        &__table {
            width: 100%;
            font-size: 13px;

            .table-head,
            .table-item {
                border: 1px solid #f5f5f5;
            }

            .table-head,
            .table-item,
            .table-item div:not(.dropdown-menu) {
                display: flex;
                align-items: center;
            }

            .table-head,
            .name-data {
                color: #666666;
            }

            .table-head div,
            .table-item {
                padding-top: 15px;
                padding-bottom: 15px;
            }

            .table-head i {
                cursor: pointer;
                display: inline-block;
                width: 20px;

                svg rect {
                    fill: #d8d8d8;
                    stroke: #d8d8d8;
                }

                &:hover {
                    svg rect {
                        fill: #666666;
                        stroke: #666666;
                    }
                }
            }

            .name {
                padding-left: 55px;
            }

            .name,
            .name-data {
                width: 35%;
            }

            .owner,
            .owner-data {
                width: 20%;
            }

            .date,
            .date-data {
                width: 17.5%;
            }

            .time,
            .time-data {
                width: 10%;
            }

            .size {
                padding-right: 25px;
            }

            .size-data {
                padding-right: 50px !important;
            }

            .size,
            .size-data {
                width: 17.5%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }

            .table-item:hover {
                background: #fcfcfc;
                cursor: pointer;
            }

            .table-item {
                position: relative;
            }

            .selected {
                background: #FCFCFC !important;
                border-left: 2px solid #1875F0;
            }

            .table-item {
                .dots-right {
                    position: absolute;
                    display: block;
                    width: 30px;
                    height: 30px;
                    top: 15px;
                    right: 10px;
                    background: url("../img/ic_more_vert.png") no-repeat center;
                    cursor: pointer;

                    &:hover {
                        background: url("../img/ic_more_vert1.png") no-repeat center;
                    }

                    .dropdown-menu {
                        flex-direction: column;
                        left: -30px !important;
                        top: -130px !important;
                        width: 255px;

                        .dropdown-item {
                            color: #808080;
                            font-weight: 500;
                            font-size: 13px;
                            padding: 12px 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: relative;

                            &::before {
                                display: block;
                                content: "";
                                position: absolute;
                                top: 7px;
                                left: 20px;
                                width: 30px;
                                height: 30px;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: cover;
                            }
                        }

                        .delete-return {
                            &::before {
                                background-image: url("../img/ic_replay.svg");
                            }
                        }

                        .delete-delete {
                            &::before {
                                background-image: url("../img/ic_delete.png");
                            }
                        }

                        .delete-information {
                            display: none;

                            &::before {
                                width: 25px;
                                height: 25px;
                                left: 25px;
                                background-image: url('../img/ic_information.png');
                                opacity: .3;
                            }
                        }
                    }
                }

                div:not(.dropdown-menu) {
                    padding-right: 10px;
                }
            }

            .table-item i {
                display: inline-block;
                height: 30px;
                width: 30px;
                margin-right: 10px;
            }

            .table-item__folder {
                .name-data {
                    i {
                        background: url("../img/ic_folder.svg") no-repeat center;
                    }
                }

                .size-data {
                    padding-right: 80px !important;
                }
            }

            .table-item__file {
                .name-data {
                    i {
                        background: url("../img/ic_insert_drive_file.svg") no-repeat center;
                    }
                }
            }

            .name-data {
                padding-left: 15px;
            }
        }
    }

    .disk-usage__sm-only {
        display: none;
        text-align: center;
        margin: 15px;

        p {
            margin-top: 15px;
        }

    }
}

.footer {
    background: #fff;
    padding-top: 50px;
    padding: 50px 0 60px 0;
    border-bottom: 10px solid #fafafa;

    h3 {
        font-size: 16px;
        color: #666666;
        margin-bottom: 30px;
    }

    &-content {
        max-width: 1200px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 15px;
    }

    .footer-logo-block {
        a {
            display: block;
        }

        p {
            margin-left: 20px;
            font-size: 14px;
            color: #b2b2b2;
        }

        .rights {
            margin: 20px 0 30px 20px;
        }
    }

    .footer-tools-block {
        margin-top: 10px;
        min-width: 200px;

        ul {
            height: 130px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }

        li {
            margin-bottom: 20px;

            a {
                font-size: 14px;
                color: #9b9b9b;
            }

            float: left;
        }
    }

    .footer-contacts-block {
        margin-top: 10px;

        .contacts {
            display: flex;
            align-items: center;

            .number {
                font-size: 16px;
                color: #808080;
            }

            .mail {
                font-size: 14px;
                color: #808080;
                margin-left: 20px;
            }

            &-line {
                width: 65px;
                height: 2px;
                background: #e6e6e6;
                margin: 30px 0 20px 0;
            }
        }

        .social {
            display: flex;
            align-items: center;
            margin-left: -10px;

            a {
                text-decoration: none;
            }

            .facebook:hover {
                svg rect {
                    fill: #4064ad;
                    stroke: #4064ad;
                }
            }

            .twitter:hover {
                svg rect {
                    fill: #04b9d9;
                    stroke: #04b9d9;
                }
            }

            .instagram:hover {
                svg rect {
                    fill: #d72062;
                    stroke: #d72062;
                }
            }
        }
    }
}

@import "media";